:root {
    --color-primary: #FFA640;
    --color-input: #D9D9D9;
    --back-color: #FFCB73;
}

.main-header {
    background: var(--color-primary);
}

.menu-icon{
    max-height: 52px;
}

.search-input{
    background: var(--color-input);
    border-radius: 13px;
}

.search-button{
    margin-left: -35pt;
}

.footer {
    background-color: var(--color-primary);
}

.catalog-menu {
    background-color: var(--color-primary);
    border: 1px solid black;
    border-radius: 3px;
}

.plus_minus_item {
    max-height: 50px;
    max-width: 100px;
    border: 2px solid black;
    color: black;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}
.content {
    min-height: calc(100vh - 80px);
    background-color: var(--back-color);
}

.content hr{
    color: black;
}

.button_buy_cart {
    max-width: 150%;
    max-height: 70%;
}