:root {
    --color-primary: #FFA640;
    --color-input: #D9D9D9;
    --back-color: #FFCB73;
}

.main-header {
    background: var(--color-primary);
}

.menu-icon{
    max-height: 52px;
}

.search-input{
    background: var(--color-input);
    border-radius: 13px;
}

.search-button{
    margin-left: -35pt;
}

.footer {
    background-color: var(--color-primary);
}

.catalog-menu {
    background-color: var(--color-primary);
    border: 1px solid black;
    border-radius: 3px;
}

.content-box {
    background-color: var(--back-color);
}

.popular_product_1 {
    background-color: green;
}
.popular_product_2{
    background-color: green;
}
.popular_product_3 {
    background-color: green;
}
.popular_product_4 {
    background-color: green;
}
.popular_product_5 {
    background-color: green;
}
.popular_product_6 {
    background-color: green;
}

.column_brand_1 {
    background-color: #0dcaf0;
}

.column_brand_2 {
    background-color: #0dcaf0;
}

.column_brand_3 {
    background-color: #0dcaf0;
}

.column_brand_4 {
    background-color: #0dcaf0;
}

.column_brand_5 {
    background-color: #0dcaf0;
}

.column_brand_6 {
    background-color: #0dcaf0;
}

.slider_image_main_menu {
    height: 100%;
}

.catalog-menu {
    height: 100%;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.open-button {
    background-color: #2196F3;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;

}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;

}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #1976D2;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
}

.form-container .cancel {
    background-color: #448AFF;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}