:root {
    --color-primary: #FFA640;
    --color-input: #D9D9D9;
    --back-color: #FFCB73;
}

.main-header {
    background: var(--color-primary);
}

.menu-icon{
    max-height: 52px;
}

.search-input{
    background: var(--color-input);
    border-radius: 13px;
}

.search-button{
    margin-left: -35pt;
}

.footer {
    background-color: var(--color-primary);
}

.catalog-menu {
    background-color: var(--color-primary);
    border: 1px solid black;
    border-radius: 3px;
}

.content-box {
    background-color: var(--back-color);
}

.popular_product_1 {
    background-color: green;
}
.popular_product_2{
    background-color: green;
}
.popular_product_3 {
    background-color: green;
}
.popular_product_4 {
    background-color: green;
}
.popular_product_5 {
    background-color: green;
}
.popular_product_6 {
    background-color: green;
}

.column_brand_1 {
    background-color: #0dcaf0;
}

.column_brand_2 {
    background-color: #0dcaf0;
}

.column_brand_3 {
    background-color: #0dcaf0;
}

.column_brand_4 {
    background-color: #0dcaf0;
}

.column_brand_5 {
    background-color: #0dcaf0;
}

.column_brand_6 {
    background-color: #0dcaf0;
}

.slider_image_main_menu {
    height: 100%;
}

.catalog-menu {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}
.content {
    min-height: calc(100vh - 80px);
    background-color: var(--back-color);
}